;; -*- mode: emacs-lisp; coding: emacs-mule; -*-
;; --------------------------------------------------------------------------
;; Desktop File for Emacs
;; --------------------------------------------------------------------------
;; Created Fri May  1 21:40:18 2015
;; Desktop file format version 206
;; Emacs version 24.4.1

;; Global section:
(setq desktop-saved-frameset nil)
(setq desktop-missing-file-warning nil)
(setq tags-file-name nil)
(setq tags-table-list nil)
(setq search-ring '("workg" "desktop"))
(setq regexp-search-ring nil)
(setq register-alist (list (list 66 "Unprintable entity" (let ((mk (make-marker))) (add-hook 'desktop-delay-hook `(lambda nil (set-marker ,mk ,nil (get-buffer ," *temp*")))) mk)) (list 108 "Unprintable entity" (let ((mk (make-marker))) (add-hook 'desktop-delay-hook `(lambda nil (set-marker ,mk ,nil (get-buffer ," *temp*")))) mk)) (list 115 "Unprintable entity" (let ((mk (make-marker))) (add-hook 'desktop-delay-hook `(lambda nil (set-marker ,mk ,nil (get-buffer ," *temp*")))) mk))))
(setq file-name-history '("~/projects/python_play/prog2.py" "~/.emacs.d/init.el" "~/.emacs.d/" "~/.emacs.d/init.el" "~/projects/python_play/prog2.py" "~/projects/python_play/prog1.py" "~/.emacs.d/" "~/.emacs.d/init.el" "~/.emacs.d/"))

;; Buffer section -- buffers listed in same order as in buffer list:
(desktop-create-buffer 206
  "/Users/jclosure/.emacs.d/init.el"
  "init.el"
  'emacs-lisp-mode
  '(undo-tree-mode workgroups-mode auto-complete-mode yas-minor-mode company-mode)
  9603
  '(9411 nil)
  nil
  nil
  '((buffer-file-coding-system . utf-8-unix)))

(desktop-create-buffer 206
  "/Users/jclosure/projects/python_play/prog2.py"
  "prog2.py"
  'python-mode
  '(undo-tree-mode workgroups-mode auto-complete-mode yas-minor-mode company-mode)
  3
  '(nil nil)
  nil
  nil
  '((tab-width . 8) (indent-tabs-mode) (buffer-file-coding-system . undecided-unix)))

