# For this project, don't bring in these directories #
######################################################
saves/
places
.saved-places
ac-comphist.dat
SessionDesktop.el
auto-save-list/
eshell/
semanticdb/
elpa/
.python-environments/
.emacs.workgroups
.emacs.desktop
ede-projects.el
**/.#*
**/#*
ido.last
projectile-bookmarks.eld
cider-history
.smex-items
.recentf
backups/
projectile.cache
org-gcal/
request/
org/ltxpng/
.org-id-locations
# negation of *.something isn't working in my version of git
# painful
org/*.pdf
org/*.png
org/*.tex
org/*.csv